In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
score_list = np.random.randint(25,100,size=20)

In [5]:
score_list

array([89, 94, 96, 35, 95, 94, 78, 83, 52, 69, 74, 97, 82, 44, 61, 26, 88,
       44, 77, 78])

In [6]:
bins = [0,59,70,80,100]

In [7]:
bins

[0, 59, 70, 80, 100]

In [9]:
score_cat = pd.cut(score_list, bins)

In [10]:
pd.value_counts(score_cat)

(80, 100]    9
(0, 59]      5
(70, 80]     4
(59, 70]     2
dtype: int64

In [11]:
df = DataFrame()

In [12]:
df['score'] = score_list

In [13]:
df

    score
0      89
1      94
2      96
3      35
4      95
5      94
6      78
7      83
8      52
9      69
10     74
11     97
12     82
13     44
14     61
15     26
16     88
17     44
18     77
19     78

In [15]:
# 利用pd.util.testing.rands(3)，测试库随机生成student姓名
df['student'] = [pd.util.testing.rands(3) for i in range(20) ]

In [16]:
df

    score student
0      89     zcM
1      94     SgU
2      96     dK8
3      35     FIA
4      95     vCh
5      94     A84
6      78     hhQ
7      83     01T
8      52     6Rx
9      69     Hlk
10     74     Fq0
11     97     oUK
12     82     AiC
13     44     83C
14     61     0jk
15     26     YFA
16     88     bhY
17     44     wY1
18     77     x9f
19     78     PmM

In [17]:
pd.cut(df['score'], bins)

0     (80, 100]
1     (80, 100]
2     (80, 100]
3       (0, 59]
4     (80, 100]
5     (80, 100]
6      (70, 80]
7     (80, 100]
8       (0, 59]
9      (59, 70]
10     (70, 80]
11    (80, 100]
12    (80, 100]
13      (0, 59]
14     (59, 70]
15      (0, 59]
16    (80, 100]
17      (0, 59]
18     (70, 80]
19     (70, 80]
Name: score, dtype: category
Categories (4, interval[int64, right]): [(0, 59] < (59, 70] < (70, 80] < (80, 100]]

In [20]:
df['Categories'] = pd.cut(df['score'], bins,labels=['Low', 'OK', 'Good', 'Great'])

In [21]:
df

    score student Categories
0      89     zcM      Great
1      94     SgU      Great
2      96     dK8      Great
3      35     FIA        Low
4      95     vCh      Great
5      94     A84      Great
6      78     hhQ       Good
7      83     01T      Great
8      52     6Rx        Low
9      69     Hlk         OK
10     74     Fq0       Good
11     97     oUK      Great
12     82     AiC      Great
13     44     83C        Low
14     61     0jk         OK
15     26     YFA        Low
16     88     bhY      Great
17     44     wY1        Low
18     77     x9f       Good
19     78     PmM       Good