In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [7]:
csv_input = './homework/movie_metadata.csv'

In [10]:
pd.read_csv(csv_input).head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [11]:
pd.read_csv(csv_input).head()[['movie_title', 'director_name','imdb_score']].head()

,movie_title,director_name,imdb_score
0,Avatar,James Cameron,7.9
1,Pirates of the Caribbean: At World's End,Gore Verbinski,7.1
2,Spectre,Sam Mendes,6.8
3,The Dark Knight Rises,Christopher Nolan,8.5
4,Star Wars: Episode VII - The Force Awakens ...,Doug Walker,7.1

In [14]:
pd.read_csv(csv_input)[['movie_title', 'director_name', 'imdb_score']].sort_values('imdb_score', ascending=False).to_csv('imdb.csv')

In [15]:
!ls

4-1 Series和DataFrame的简单数学运算.ipynb
4-2 Series和DataFrame的排序.ipynb
4-3 重命名Dataframe的index.ipynb
homework
imdb.csv

In [16]:
!head imdb.csv

,movie_title,director_name,imdb_score
2765,Towering Inferno             ,John Blanchard,9.5
1937,The Shawshank Redemption ,Frank Darabont,9.3
3466,The Godfather ,Francis Ford Coppola,9.2
4409,Kickboxer: Vengeance ,John Stockwell,9.1
2824,Dekalog             ,,9.1
3207,Dekalog             ,,9.1
66,The Dark Knight ,Christopher Nolan,9.0
2837,The Godfather: Part II ,Francis Ford Coppola,9.0
3481,Fargo             ,,9.0