In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# Series的排序

In [2]:
s1 = Series(np.random.randn(10))

In [3]:
s1

0    0.144739
1   -0.956009
2    0.065863
3    1.870607
4    0.135088
5   -0.288796
6   -0.429231
7    0.921928
8   -0.614410
9   -1.078490
dtype: float64

In [4]:
s1.values

array([ 0.14473909, -0.95600924,  0.06586324,  1.87060651,  0.13508809,
       -0.28879553, -0.42923071,  0.92192772, -0.61440964, -1.0784903 ])

In [5]:
type(s1.values)

numpy.ndarray

In [6]:
s2 = s1.sort_values()

In [7]:
s2

9   -1.078490
1   -0.956009
8   -0.614410
6   -0.429231
5   -0.288796
2    0.065863
4    0.135088
0    0.144739
7    0.921928
3    1.870607
dtype: float64

In [8]:
s1.sort_values(ascending=False)

3    1.870607
7    0.921928
0    0.144739
4    0.135088
2    0.065863
5   -0.288796
6   -0.429231
8   -0.614410
1   -0.956009
9   -1.078490
dtype: float64

In [9]:
s2.sort_index()

0    0.144739
1   -0.956009
2    0.065863
3    1.870607
4    0.135088
5   -0.288796
6   -0.429231
7    0.921928
8   -0.614410
9   -1.078490
dtype: float64

# Dataframe的排序

In [11]:
df1 = DataFrame(np.random.randn(40).reshape(8,5), columns=['A', 'B', 'C', 'D', 'E'])
df1

          A         B         C         D         E
0  0.252760 -0.275870  0.805126 -0.749273  0.825258
1 -0.184911  0.051538 -2.187038  0.543678  0.057900
2  1.637870  1.322968  1.273867  0.596877 -1.721323
3 -1.172608 -0.153774  0.348627 -1.196014 -0.389991
4  0.441454 -0.282376  1.209447 -1.141373  0.216373
5  1.331902  0.292290 -0.563062  0.217336  0.116871
6  0.499942  0.667734 -1.345062 -0.453409 -0.575061
7 -0.131410  0.596366  1.604187 -0.562405  0.435006

In [12]:
df1['A'].sort_values()

3   -1.172608
1   -0.184911
7   -0.131410
0    0.252760
4    0.441454
6    0.499942
5    1.331902
2    1.637870
Name: A, dtype: float64

In [15]:
# 按照A进行排序
df2 = df1.sort_values('A', ascending=False)
df2

          A         B         C         D         E
2  1.637870  1.322968  1.273867  0.596877 -1.721323
5  1.331902  0.292290 -0.563062  0.217336  0.116871
6  0.499942  0.667734 -1.345062 -0.453409 -0.575061
4  0.441454 -0.282376  1.209447 -1.141373  0.216373
0  0.252760 -0.275870  0.805126 -0.749273  0.825258
7 -0.131410  0.596366  1.604187 -0.562405  0.435006
1 -0.184911  0.051538 -2.187038  0.543678  0.057900
3 -1.172608 -0.153774  0.348627 -1.196014 -0.389991

In [16]:
df2.sort_index()

          A         B         C         D         E
0  0.252760 -0.275870  0.805126 -0.749273  0.825258
1 -0.184911  0.051538 -2.187038  0.543678  0.057900
2  1.637870  1.322968  1.273867  0.596877 -1.721323
3 -1.172608 -0.153774  0.348627 -1.196014 -0.389991
4  0.441454 -0.282376  1.209447 -1.141373  0.216373
5  1.331902  0.292290 -0.563062  0.217336  0.116871
6  0.499942  0.667734 -1.345062 -0.453409 -0.575061
7 -0.131410  0.596366  1.604187 -0.562405  0.435006