In [29]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [30]:
df1 = DataFrame(np.arange(9).reshape(3,3), index=['BJ','SH','GZ'], columns=['A','B','C'])

In [31]:
df1

    A  B  C
BJ  0  1  2
SH  3  4  5
GZ  6  7  8

In [32]:
df1.index

Index(['BJ', 'SH', 'GZ'], dtype='object')

In [33]:
df1.index = Series(['bj','sh','gz'])

In [34]:
df1

    A  B  C
bj  0  1  2
sh  3  4  5
gz  6  7  8

In [35]:
df1.index = df1.index.map(str.upper)

In [36]:
df1

    A  B  C
BJ  0  1  2
SH  3  4  5
GZ  6  7  8

In [37]:
df1.rename(index=str.lower, columns=str.lower)

    a  b  c
bj  0  1  2
sh  3  4  5
gz  6  7  8

In [38]:
df1

    A  B  C
BJ  0  1  2
SH  3  4  5
GZ  6  7  8

In [39]:
df1.rename(index={'BJ':'beijing'}, columns={'A':'a'})

         a  B  C
beijing  0  1  2
SH       3  4  5
GZ       6  7  8

In [40]:
list1 = [1,2,3,4]
list2 = ['1','2','3','4']

In [41]:
[str(x) for x in list1]

['1', '2', '3', '4']

In [42]:
list(map(str, list1))

['1', '2', '3', '4']

In [43]:
df1

    A  B  C
BJ  0  1  2
SH  3  4  5
GZ  6  7  8

In [44]:
def test_map(x):
    return x + '_ABC'

In [45]:
df1.index.map(test_map)

Index(['BJ_ABC', 'SH_ABC', 'GZ_ABC'], dtype='object')

In [46]:
df1.rename(index=test_map)

        A  B  C
BJ_ABC  0  1  2
SH_ABC  3  4  5
GZ_ABC  6  7  8