In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [13]:
df1 = DataFrame({'key':['X', 'Y', 'Z', 'X'], 'data_set_1':[1,2,3,4]})

In [14]:
df1

  key  data_set_1
0   X           1
1   Y           2
2   Z           3
3   X           4

In [15]:
df2 = DataFrame({'key':['B', 'X', 'C'], 'data_set_2':[4,5,6]})

In [16]:
df2

  key  data_set_2
0   B           4
1   X           5
2   C           6

In [17]:
pd.merge(df1,df2)

  key  data_set_1  data_set_2
0   X           1           5
1   X           4           5

In [18]:
pd.merge(df1, df2, on=None)

  key  data_set_1  data_set_2
0   X           1           5
1   X           4           5

In [19]:
pd.merge(df1, df2, on='key')

  key  data_set_1  data_set_2
0   X           1           5
1   X           4           5

In [20]:
pd.merge(df1, df2, on='key', how='left')

  key  data_set_1  data_set_2
0   X           1         5.0
1   Y           2         NaN
2   Z           3         NaN
3   X           4         5.0

In [21]:
pd.merge(df1, df2, on='key', how='right')

  key  data_set_1  data_set_2
0   B         NaN           4
1   X         1.0           5
2   X         4.0           5
3   C         NaN           6

In [22]:
pd.merge(df1, df2, on='key', how='outer')

  key  data_set_1  data_set_2
0   X         1.0         5.0
1   X         4.0         5.0
2   Y         2.0         NaN
3   Z         3.0         NaN
4   B         NaN         4.0
5   C         NaN         6.0