In [82]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [83]:
!ls ./homework

apply_demo.csv     iris.csv           movie_metadata.csv

In [84]:
df = pd.read_csv('./homework/apply_demo.csv')

In [85]:
df.head()

         time                                data
0  1473411962   Symbol: APPL Seqno: 0 Price: 1623
1  1473411962   Symbol: APPL Seqno: 0 Price: 1623
2  1473411963   Symbol: APPL Seqno: 0 Price: 1623
3  1473411963   Symbol: APPL Seqno: 0 Price: 1623
4  1473411963   Symbol: APPL Seqno: 1 Price: 1649

In [86]:
df.size

7978

In [87]:
df.shape

(3989, 2)

In [88]:
s1 = Series(['a']*7978)

In [89]:
df['A'] = s1

In [90]:
df.head()

         time                                data  A
0  1473411962   Symbol: APPL Seqno: 0 Price: 1623  a
1  1473411962   Symbol: APPL Seqno: 0 Price: 1623  a
2  1473411963   Symbol: APPL Seqno: 0 Price: 1623  a
3  1473411963   Symbol: APPL Seqno: 0 Price: 1623  a
4  1473411963   Symbol: APPL Seqno: 1 Price: 1649  a

In [91]:
df['A'] = df['A'].apply(str.upper)

In [92]:
df.head()

         time                                data  A
0  1473411962   Symbol: APPL Seqno: 0 Price: 1623  A
1  1473411962   Symbol: APPL Seqno: 0 Price: 1623  A
2  1473411963   Symbol: APPL Seqno: 0 Price: 1623  A
3  1473411963   Symbol: APPL Seqno: 0 Price: 1623  A
4  1473411963   Symbol: APPL Seqno: 1 Price: 1649  A

In [93]:
df['data'][0]

' Symbol: APPL Seqno: 0 Price: 1623'

In [94]:
l1 = df['data'][0].strip().split(' ')

In [95]:
l1

['Symbol:', 'APPL', 'Seqno:', '0', 'Price:', '1623']

In [96]:
l1[1], l1[3], l1[5]

('APPL', '0', '1623')

In [97]:
def foo(line):
    items = line.strip().split(' ')
    return Series([items[1], items[3], items[5]])

In [98]:
df_tmp = df['data'].apply(foo)

In [99]:
df_tmp.head()

      0  1     2
0  APPL  0  1623
1  APPL  0  1623
2  APPL  0  1623
3  APPL  0  1623
4  APPL  1  1649

In [100]:
df_tmp = df_tmp.rename(columns={0:"Symbol", 1:"Seqno", 2:"Price"})

In [101]:
df_tmp.head()

  Symbol Seqno Price
0   APPL     0  1623
1   APPL     0  1623
2   APPL     0  1623
3   APPL     0  1623
4   APPL     1  1649

In [102]:
df_tmp.size

11967

In [103]:
df_tmp.describe()

       Symbol Seqno Price
count    3989  3989  3989
unique      1  1000   199
top      APPL     0  1612
freq     3989     4    56

In [104]:
df_new = df.combine_first(df_tmp)

In [105]:
del df_new['data']

In [108]:
del df_new['A']

In [109]:
df_new.head()

  Price Seqno Symbol        time
0  1623     0   APPL  1473411962
1  1623     0   APPL  1473411962
2  1623     0   APPL  1473411963
3  1623     0   APPL  1473411963
4  1649     1   APPL  1473411963

In [115]:
df_new.shape

(3989, 4)

In [125]:
df_new.to_csv('demo_duplicate.csv')

In [126]:
!ls ./homework

apply_demo.csv     demo_duplicate.csv iris.csv           movie_metadata.csv

In [127]:
!ls homework

apply_demo.csv     demo_duplicate.csv iris.csv           movie_metadata.csv