# pandas_datareader

In [1]:
import pandas_datareader as pdr

In [3]:
alibaba = pdr.get_data_yahoo('BABA')

In [4]:
alibaba.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2017-07-28,158.960007,152.820007,153.960007,157.559998,14449400,157.559998
2017-07-31,159.389999,153.500000,158.899994,154.949997,17782400,154.949997
2017-08-01,156.610001,153.800003,156.250000,154.729996,12035300,154.729996
2017-08-02,155.750000,149.100006,155.470001,151.910004,19529300,151.910004
2017-08-03,153.800003,149.600006,152.100006,153.320007,12435400,153.320007

In [5]:
alibaba.shape

(1258, 6)

In [6]:
alibaba.tail

<bound method NDFrame.tail of                   High         Low        Open       Close    Volume  \
Date
2017-07-28  158.960007  152.820007  153.960007  157.559998  14449400
2017-07-31  159.389999  153.500000  158.899994  154.949997  17782400
2017-08-01  156.610001  153.800003  156.250000  154.729996  12035300
2017-08-02  155.750000  149.100006  155.470001  151.910004  19529300
2017-08-03  153.800003  149.600006  152.100006  153.320007  12435400
...                ...         ...         ...         ...       ...
2022-07-21  106.610001  103.680000  104.059998  105.129997  17865500
2022-07-22  104.699997   99.680000  104.309998  100.610001  18803500
2022-07-25  101.269997   98.739998  100.500000  101.059998  16604300
2022-07-26  105.250000  100.809998  104.309998  101.440002  28004300
2022-07-27  102.970001   99.800003  102.199997  102.779999  19330800

             Adj Close
Date
2017-07-28  157.559998
2017-07-31  154.949997
2017-08-01  154.729996
2017-08-02  151.910004
2017-08-03  153.320007
...                ...
2022-07-21  105.129997
2022-07-22  100.610001
2022-07-25  101.059998
2022-07-26  101.440002
2022-07-27  102.779999

[1258 rows x 6 columns]>

In [7]:
alibaba.describe()

,High,Low,Open,Close,Volume,Adj Close
count,1258.000000,1258.000000,1258.000000,1258.000000,1.258000e+03,1258.000000
mean,187.605169,182.640416,185.341107,185.146057,2.004650e+07,185.146057
std,46.454910,45.969425,46.294836,46.287263,1.220448e+07,46.287263
min,80.139999,73.279999,75.099998,76.760002,5.523000e+06,76.760002
25%,163.084251,158.892506,161.379997,160.702496,1.330680e+07,160.702496
50%,183.116005,178.550003,180.840004,180.860001,1.736860e+07,180.860001
75%,213.722500,209.369751,211.242496,211.490002,2.282715e+07,211.490002
max,319.320007,308.910004,313.500000,317.140015,1.598343e+08,317.140015

In [8]:
alibaba.info

<bound method DataFrame.info of                   High         Low        Open       Close    Volume  \
Date
2017-07-28  158.960007  152.820007  153.960007  157.559998  14449400
2017-07-31  159.389999  153.500000  158.899994  154.949997  17782400
2017-08-01  156.610001  153.800003  156.250000  154.729996  12035300
2017-08-02  155.750000  149.100006  155.470001  151.910004  19529300
2017-08-03  153.800003  149.600006  152.100006  153.320007  12435400
...                ...         ...         ...         ...       ...
2022-07-21  106.610001  103.680000  104.059998  105.129997  17865500
2022-07-22  104.699997   99.680000  104.309998  100.610001  18803500
2022-07-25  101.269997   98.739998  100.500000  101.059998  16604300
2022-07-26  105.250000  100.809998  104.309998  101.440002  28004300
2022-07-27  102.970001   99.800003  102.199997  102.779999  19330800

             Adj Close
Date
2017-07-28  157.559998
2017-07-31  154.949997
2017-08-01  154.729996
2017-08-02  151.910004
2017-08-03  153.320007
...                ...
2022-07-21  105.129997
2022-07-22  100.610001
2022-07-25  101.059998
2022-07-26  101.440002
2022-07-27  102.779999

[1258 rows x 6 columns]>

In [9]:
alibaba.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1258 entries, 2017-07-28 to 2022-07-27
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       1258 non-null   float64
 1   Low        1258 non-null   float64
 2   Open       1258 non-null   float64
 3   Close      1258 non-null   float64
 4   Volume     1258 non-null   int64
 5   Adj Close  1258 non-null   float64
dtypes: float64(5), int64(1)
memory usage: 68.8 KB